html, body {
	margin:0;
	padding-left: 10%;
	padding-right: 10%;
	background-color: black;
	font-family: 'Poppins', sans-serif;
	color: #6c757d;
}

h1 {
	margin:auto;
    vertical-align:middle;
}

* {
	box-sizing: border-box;
	margin: 0;
}

button {
	color: grey;
    border: none;
    background-color: transparent;
}

a {
	padding: 2px;
	background-color: grey;
	text-decoration: none;
	color: #000;
	border-radius: 3px;
	box-shadow: 1px 1px 1px 2px;
	margin: 10px;
	transition: 0.1s ease-in-out;
}

a:hover {
	transform: scale(1.1);
	text-decoration: none;
	color: darkgrey;
}

.hi {
	font-size: 3em;
}

.nav {
	background-color: black;
	display: flex;
	justify-content: flex-end;
}

.header-content {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5%;
	height: 100vh;
}

main {

	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1100px) {
	main {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 760px) {
	main {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	main {
		grid-template-columns: repeat(1, 1fr);
	}
}

.box {
	background-color: #101010;
	border-radius:2px;
	box-shadow:  2px 1px 8px #888888;
	width: auto;
	padding: 5px;
	margin: 5px;
	align-items: center;
}



.box img{
	width: 100%;
	object-fit: cover;
	height: 200px;
}

.box:hover {
	cursor: pointer;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}



.info {
	text-align: center;
	text-transform: uppercase;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


h2, h4 {
	text-align: center;
}



.slide-in {
	opacity: 0;
	transition: all 3s;
	max-width: 60%;
 	height: auto;
 	padding-bottom: 5%;
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

@media only screen and (max-width: 450px) {
	.slide-in {
		max-width: 100%;
	}
}

.active {
	opacity: 1;
}

.about {
	background-color: black;
	padding-top: 5%;
	padding-bottom: 5%;
}

.contact {
	padding-top: 5%;
	padding-bottom: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}